<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- Use *ngFor para iterar sobre o array e criar um ion-card para cada item -->
      <ion-col class="custom-col" *ngFor="let item of lista">
        <ion-card [routerLink]="['/cart-list', item.id]">
          <!-- Conteúdo do ion-card para cada item -->
          <ion-card-header>
            <ion-card-title>Lista #{{item.id}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>subtitulo</ion-card-subtitle>
            <p>description</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>