.ion-content-center {
  padding-top: 30px;
}
.center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-input {
  background: lightgrey;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
  margin-top: 4px;
}

.custom-input::placeholder{
  text-align: left;
}


ion-card{
  padding: 0px 16px 0px 16px;
}

.space-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-buttons{
  flex-flow: row;
  justify-content: space-between;
}

.vertical-align{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ion-popover {
  z-index: 1000;
}