.ion-content-center {
  padding-top: 30px;
}

.center-modal{
  flex-direction: column;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-input {
  background: lightgrey;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
  margin-top: 4px;
  text-align: right;
}

.custom-input::placeholder{
  text-align: left;
}

.mT4{
  margin-top: 4px;
}

swiper-slide{
  margin-bottom: 32px;
}

.space-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-buttons{
  flex-flow: row;
  justify-content: space-between;
}

.vertical-align{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #a39999;;
}

.table-row{
  border: solid 1px; 
  border-top: 0px; 
  padding: 0px 16px 0px 16px;
  border-color: #d7d8da;
}

.title-font{
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 16px;
}

.table-row.table-header{
  border: 2px solid #a39999;
}

//tabela fixada do chrome
.tabela-fixada{
  max-height: 31rem;
  overflow-y: auto; 
  width: 100%;
}
//altura modo kiosk
.tabela-fixada-kiosk{
  max-height: 37.6rem;
  overflow-y: auto; 
  width: 100%;
}
.space-between{
  display: flex; 
  justify-content: space-between;
}

@media screen and (min-width: 540px) {
  ion-modal{
      --width: 80%;
      --min-width: 250px;
      --height: 30%;
      --border-radius: 6px;
      --box-shadow: 0 28px 48px rgba(255, 255, 255, 0.2);
  }
}
@media screen and (min-width: 1000px) {
  ion-modal{
      --width: 40%;
      --min-width: 250px;
      --height: 45%;
      --border-radius: 6px;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
}