<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="home"></ion-icon> Home
    </ion-title>
    <div slot="end">
      <ion-icon name="sunny-outline" style="margin: 0px 8px 0px 8px;"></ion-icon> 
      <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" color="medium"></ion-toggle>
      <ion-icon name="moon-outline" style="margin: 0px 8px 0px 8px;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="padding-top: 8px;">Carrinhos de compras</ion-title>

  <swiper-container #swiper [slidesPerView]="2" pagination="true" class="mat-elevation-z8">
    <swiper-slide *ngFor="let item of lista">
      <ion-card>
        <ion-card-header class="action-buttons">
          <ion-card-title class="vertical-align" id="top-center">
            <span>{{item.listName}}</span>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-card-subtitle class="space-between">
            <span>Criada em: {{item.dateTime | date:"dd/MM/yyyy HH:mm"}}</span>
            <span>#{{item.id}}</span>
          </ion-card-subtitle>
          <ion-card-subtitle class="space-between">
            <span>Total da compra: {{item.total | currency: 'BRL'}}</span>
            <span>Mercado: {{item.market}}</span>
          </ion-card-subtitle>
          <ion-buttons class="center">
            <ion-button color="primary" [routerLink]="['/cart-list', item.id]">
              <span>Abrir</span> 
              <ion-icon name="open-outline"></ion-icon>
            </ion-button>
            <ion-button title="editar nome" (click)="openEditListNameModal(item)" side="top" alignment="center">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteCartList(item.id)" title="deletar">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  <ion-button expand="block" style="margin-left: 10px; margin-right: 10px;" (click)="setOpen(true, 'newList')">Cria novo carrinho de compras</ion-button>

  <!-- Modal de novo Carrinho de compras -->
  <ion-modal [isOpen]="isAddListModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Novo Carrinho</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, 'newList')">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="center-modal">
          <input type="text" class="custom-input" placeholder="Nome da Lista" [(ngModel)]="nomeLista">
          <div class="center">
            <ion-list>
              <ion-item>
                <ion-select interface="popover" placeholder="Selecione um Mercado" [(ngModel)]="marketOption">
                  <ion-select-option *ngFor="let market of marketList" [value]="market">{{market}}</ion-select-option>
                  <ion-select-option value="Outro">Outro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <input type="text" class="custom-input" placeholder="Novo nome de mercado" [(ngModel)]="newMarket" *ngIf="marketOption == 'Outro'">
          </div>
          <ion-datetime-button class="mT4" datetime="datetime" style="pointer-events:none;"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" locale="pt-BR"></ion-datetime>
            </ng-template>
          </ion-modal>
          <div class="center mT4">
            <ion-button class="center" (click)="createList()">Criar Carrinho</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>  

  <!-- Modal de edição do Carrinho -->
  <ion-modal [isOpen]="isEditListModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Alterar nome do carrinho</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, 'editListName')">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="center-modal">
          <input type="text" class="custom-input" [(ngModel)]="editNomeLista">
          <div class="center">
            <ion-list>
              <ion-item>
                <ion-select interface="popover" placeholder="Selecione um Mercado" [(ngModel)]="editMarketOption">
                  <ion-select-option *ngFor="let market of marketList" [value]="market">{{market}}</ion-select-option>
                  <ion-select-option value="Outro">Outro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <input type="text" class="custom-input" placeholder="Novo nome de mercado" [(ngModel)]="newMarket" *ngIf="editMarketOption == 'Outro'">
          </div>

          <div class="center mT4">
            <ion-button (click)="updateCart()">Alterar</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>  

  <hr/>

  <div style="padding-top: 8px; display: flex; flex-wrap: wrap; justify-content: space-between;">
    <ion-title>Lembretes</ion-title>
    <ion-title style="text-align: end;">Melhor Compra: {{bestBuy | marketNull}}</ion-title>
  </div>

  <ion-grid>
    <ion-row class="table-header table-row">
      <ion-col class="title-font center" size-md="1.5" size-sm="2">Quantidade</ion-col>
      <ion-col class="title-font" size.sm="3" size.md="2">Produto</ion-col>
      <ion-col class="title-font" size.sm="3" size.md="2">Melhor Preço</ion-col>
      <ion-col class="title-font" offset-sm="1" offset-md="4.5" size="2">Ações</ion-col>
    </ion-row>

    <ion-grid class="tabela-fixada-kiosk">
      <ion-row *ngFor="let item of savedList" class="table-row">
        <ion-col size-md="1.5" size-sm="2" class="center">{{item.qtd}}{{item.unidade}}</ion-col>
        <ion-col size.sm="3" size.md="2">{{item.name}}</ion-col>
        <ion-col size.sm="3" size.md="2">{{item.cheapestMarket }}</ion-col>
        <ion-col offset.sm="4" size="3" offset-md="3.5">
          <ion-buttons class="center">
            <ion-button color="primary" (click)="openEditPreviousNameModal(item.id, item.name, item.qtd, item.unidade)">Editar</ion-button>
            <ion-button color="danger" (click)="deletePreviousList(item.id)">Excluir</ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <ion-button expand="block" style="margin-left: 10px; margin-right: 10px;" (click)="setOpen(true,'previous')">Adicionar lembrete</ion-button>

<!-- Modal de edição elemento previousList -->
<ion-modal [isOpen]="isPreviousEditModalOpen" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar lembrete</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,'previousEdit')">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="center-modal">
        <input type="text" class="custom-input" [(ngModel)]="editNewElement" maxlength="21">
        <div class="center mT4" style="flex-direction: row; display: flex;">
          <input style="width: 35%;" type="number" min="0" class="custom-input" placeholder="Quantidade" [(ngModel)]="editNewElementQtd" required>
          <ion-item>
            <ion-select interface="popover" placeholder="Unidade" [(ngModel)]="editNewElementUn">
              <ion-select-option value="un">Unidade</ion-select-option>
              <ion-select-option value="gr">Grama</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="center mT4">
          <ion-button (click)="updatePreviousItem()">Alterar</ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>  

  <!-- Modal de novo elemento previousList -->
  <ion-modal [isOpen]="isPreviousModalOpen" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Novo lembrete</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,'previous')">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="center">
          <input type="text" class="custom-input" placeholder="Produto" [(ngModel)]="newElement" maxlength="21">
        </div>
        <div class="center mT4" style="flex-direction: row; display: flex;">
          <input style="width: 35%;" type="number" min="0" class="custom-input" placeholder="Quantidade" [(ngModel)]="newElementQtd" required>
          <ion-item>
            <ion-select interface="popover" placeholder="Unidade" [(ngModel)]="newElementUn">
              <ion-select-option value="un">Unidade</ion-select-option>
              <ion-select-option value="gr">Grama</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-content>

      <ion-footer class="center">
        <ion-toolbar class="center">
            <ion-button class="center" (click)="addPreviousList()">Adicionar</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>  

</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: end;">
    <ion-title>
      Todos os direitos reservados <a href="http://github.com/torugos">©Torugos <ion-icon name="logo-github"></ion-icon></a>.
    </ion-title>
  </ion-toolbar>
</ion-footer>