.custom-input {
    background: lightgrey;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    flex-direction: row;
    text-align: right;
}

.custom-input::placeholder{
    text-align: left;
}

.v-center{
    padding-top: 7rem;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.center-modal{
    flex-direction: column;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fixed-bottom{
    margin-bottom: 24px;
    position: fixed;
    bottom: 0;
    text-align: right;
}

.vertical-center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.ion-content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.table-row{
    border: solid 1px; 
    border-top: 0px; 
    border-color: #d7d8da;
}

.table-row.table-header{
    padding: 0px 16px 0px 16px;
    border: 2px solid #a39999;
}

.title-font{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
}



.flex-end{
    position: fixed;
    bottom: 0px;
}

ion-content{
    height: 100%;
}

img {
    border-radius: 8px;
    max-width: 95%;
    max-height: 95%;
    width: auto; /* Ajusta a largura automaticamente para manter a proporção da imagem */
    height: auto; 
}

ion-icon{
    font-size: x-large;
}

.mT4{
    margin-top: 4px;
}

.space-between{
    display: flex; 
    justify-content: space-between;
}

.crossed{
    text-decoration: line-through;
    text-decoration-color: red;
    color: #a3a0a0;
    pointer-events: none;
}

@media screen and (min-width: 540px) {
    ion-modal{
        --width: 80%;
        --min-width: 250px;
        --height: 30%;
        --border-radius: 6px;
        --box-shadow: 0 28px 48px rgba(255, 255, 255, 0.2);
    }

    ion-img{
        width:20%
    }
    .text-view-md{
        display:none;
    }
 
    .text-view-sm{
        display:inline-block;
    }

    .alt-title{
        font-family: "Times New Roman", Times, serif;
        padding: 8px 0px 0px 16px; 
        font-size: 16px;
        font-weight: bolder;
    }
}
@media screen and (min-width: 1000px) {
    ion-modal{
        --width: 40%;
        --min-width: 250px;
        --height: 45%;
        --border-radius: 6px;
        --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    }
    ion-img{
        width:10%
    }
    .text-view-md{
        display:inline-block;
    }
 
    .text-view-sm{
        display:none;
    }

    .alt-title{
        font-family: "Times New Roman", Times, serif;
        padding: 8px 0px 0px 16px; 
        font-size: 28px;
        font-weight: bolder;
    }
}