<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="arrow-back" [routerLink]="['/home']" [queryParams]="{ reload: 'true' }" style="vertical-align: bottom;"></ion-icon>  {{nomeLista}}  </ion-title>    
    <ion-icon slot="end" name="cart" style="padding-right: 8px;" [routerLink]="['/']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">

  <div *ngIf="lista.length == 0">
    <div class="v-center">
      <ion-img
        style="width: 15%;"
        src="../../assets/img/hand_slide.png" 
        alt="Deslize para a direita."
      ></ion-img>
      <h1 class="alt-title">Deslize o canto da tela, para acessar a lista de Lembretes!</h1>
    </div>
    <h1 class="alt-title fixed-bottom">Para adicionar itens ao carrinho clique no icone <ion-icon name="arrow-forward" style="vertical-align: middle;"></ion-icon></h1>
  </div>

  <ion-grid style="width: 95%;" *ngIf="lista.length >= 1">
    <ion-row class="table-header table-row title-font">
      <ion-col >Produto</ion-col>
      <ion-col >Un/Kg</ion-col>
      <ion-col size="2">Preço</ion-col>
      <ion-col size="2" class="center">Quantidade</ion-col>
      <ion-col size="2.5" class="center">Ações</ion-col>
    </ion-row>
    
    <ion-row *ngFor="let item of lista" class="table-row mat-elevation-z8">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option (click)="editModal(item.productId)">Editar</ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-col>{{item.name}}</ion-col>
          <ion-col>
            <span *ngIf="item.unidade == 'un'">{{item.price | currency:'BRL'}}/un</span>
            <span *ngIf="item.unidade == 'gr'">{{item.price * 1000 | currency:'BRL'}}/Kg</span>
          </ion-col>
          <ion-col size="2">
            <span *ngIf="item.unidade == 'un'">{{item.price * item.qtd | currency:'BRL'}}</span>
            <span *ngIf="item.unidade == 'gr'">{{item.price * item.qtd | currency:'BRL'}}</span>
          </ion-col>
          <ion-col size-sm="2" class="center">{{item.qtd}}{{item.unidade}}</ion-col>
          <ion-col size="2.5">
            <ion-buttons style="flex-flow: row;" class="center">
              <ion-fab-button color="primary" style="margin-right: 8px;" (click)="plusOne(item.productId, item.qtd)"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
              <ion-fab-button color="danger" (click)="minusOne(item.productId, item.qtd)"><ion-icon name="remove-outline"></ion-icon></ion-fab-button>  
            </ion-buttons>
          </ion-col>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="delete(item.productId)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="setAddOpen(true)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- savedList slider -->
<ion-menu menuId="first-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title  class="title-font">Lembretes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of savedList">
        <ion-label (click)="itemAddSaved(item.name, item.qtd, item.unidade)" class="space-between" [ngClass]="{'crossed' : item.selected}">
          <span>
            {{item.qtd + item.unidade}} - {{item.name}}
          </span>
          <ion-icon *ngIf="!item.selected" name="add-circle-outline" color="success"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

 <!-- Add Modal -->
 <ion-modal [isOpen]="isAddModalOpen" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Adicionar Produto</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setAddOpen(false)">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <div class="center-modal mT4">
        <input type="text" class="custom-input mT4" placeholder="Produto" [(ngModel)]="addProduct">
        <input
          class="custom-input mT4"
          placeholder="Preço"
          currencyMask
          [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}"
          [(ngModel)]="addPrice">
        <div class="center mT4" style="flex-direction: row;">
          <input style="width: 35%;" type="number" min="0" class="custom-input" placeholder="Quantidade" [(ngModel)]="addQtd" required>
          <ion-item>
            <ion-select interface="popover" placeholder="Unidade" [(ngModel)]="addUn">
              <ion-select-option value="un">Unidade</ion-select-option>
              <ion-select-option value="gr">Grama</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="center">
        <ion-button shape="round" (click)="saveAdd()">Incluir</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Edit Modal -->
<ion-modal [isOpen]="isEditModalOpen" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Produto</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setEditOpen(false)">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-content-center">
      <div class="center-modal">
        <input type="text" class="custom-input mT4" placeholder="Produto" [(ngModel)]="editProduct">
        <input
          type="text"
          class="custom-input mT4"
          placeholder="Preço"
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          [(ngModel)]="editPrice">
        <div class="center mT4" style="flex-direction: row; display: flex;">
          <input style="width: 25%;" type="text" min="0" class="custom-input" placeholder="Quantidade" [(ngModel)]="editQtd" required>
          <ion-item>
            <ion-select interface="popover" placeholder="Unidade" [(ngModel)]="editUn">
              <ion-select-option value="un">Unidade</ion-select-option>
              <ion-select-option value="gr">Grama</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
      <div class="center">
        <ion-button shape="round" (click)="saveEdit()">Editar</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>



<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="space-between">
        <span>Total da Compra: {{total | currency: 'BRL'}}</span>
        <span>Quantidade de itens: {{qtdItens}}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>