.custom-input {
    background: lightgrey;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    flex-direction: row;
    text-align: right;
}

.custom-input::placeholder{
    text-align: left;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-modal{
    flex-direction: column;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.ion-content-center {
    padding-top: 30px;
}

.table-row{
    border: solid 1px; 
    border-top: 0px; 
    border-color: #d7d8da;
}

.table-row.table-header{
    padding: 0px 16px 0px 16px;
    border: 2px solid #a39999;
}

.title-font{
    font-family: Impact, fantasy;
    font-size: 18px;
    color: #424242;
}

.alt-title{
    padding: 8px 0px 0px 16px; 
    font-size: 26px;
    font-weight: bold;
    color: #424242;
}

.flex-end{
    position: fixed;
    bottom: 0px;
}

ion-icon{
    font-size: x-large;
}

.mT8{
    margin-top: 4px;
}

.space-between{
    display: flex; 
    justify-content: space-between;
}

.crossed{
    text-decoration: line-through;
    text-decoration-color: red;
    color: #424242;
    pointer-events: none;
}

ion-modal{
    --width: 80%;
    --min-width: 250px;
    --height: 80%;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}